{% extends 'base.html' %}

{% block header %}
    <p>Habits</p>    
    <a href="{{url_for('habits.dohabit')}}" class="link">Habit Marker</a>
    <a href="{{url_for('habits.habit')}}" class="link">Habit Tracker</a> 

{% endblock %}

{% block main_content %}
    <form class="form" method="POST">
        <textarea class="habit_entry" id="habit" name="habit" rows="3" placeholder="Add new daily habit"></textarea>
        <button class="form_submit" type="submit">Add</button>
    </form>
    <section class="habit_section">
        <h4 class="recent_habits">Habit list and date of adding each habit:lets see</h4>
        {% for habit in habits %}
        <p class="habit" id="habit" name="habit">{{ habit[0] }}
            <time class="entry_date" datetime="14-12-2022"> added on *{{habit[1]}}</time> </p>
    {% endfor %}
        </section>
{% endblock %}