<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/habitstyle.css" />
</head>

<body>
  <header class="header">{% block header %}  {% endblock %}</header>

  <main class="main">{% block main_content %}     {% endblock %}</main>
  
  <footer class="footer">
    <div class="footer_div">
        <section class="left">
            <a href="index.html" class="footer_item">About me</a>
            <a  href="index2.html" class="footer_item">Habit Tracker</a>
        </section>
        <section class="right">
            <div class="footer_column" >
                <a  href="index1.html" class="footer_item">Blog</a>
                <a href="index1.html" class="footer_item">Biodata</a>
            </div>
            <div class="footer_column" >
                <a href="e" class="footer_item">Calender</a>
                <a href="contact.html" class="footer_item">Contact</a>
            </div>
        </section>
    </div>
</footer>
  
</body>
</html>