{% extends 'base.html' %}

{% block header %}
    <p>Contact me</p>
    <a href="https://www.linkedin.com/in/sagarika-mitra-23192529/" class="link">Linkedin</a>
    
{% endblock %}

{% block main_content %}
    <section class="habit_section">
        <h3 class="recent">Email : mitsagarika@gmail.com</h3>
        <h3 class="recent">Phone : 8777487920 </h3>
        <h3 class="recent">Residential Address : <br>Aarushi Apartment-3B<br>Mahisbathan rd.<br>
            Kolkata - 700102
        </h3>
    </section>
{% endblock %}