{% extends 'base.html' %}

{% block header %}
    <p>Habits</p>   
    <a href="add.html" class="link">Add Habit</a>
    <a href="index2.html" class="link">Habit Tracker</a> 
 
{% endblock %}

{% block main_content %}
<section class="habittrack">
    <form class="form" method="POST">
        {% set count = 0 %}
        <p class="habitdate">
            <label for="habitdate">Select date if habit completed:</label>
            <input type="date" id="habitdate" name="habitdate" class="habitdate" value="{{ start_date }}">
        </p>
        {% for y in habitlist %}
            <p class="habit" id="habit" name="habit" class="habit" value="{{ y[0] }}">
            <input type="checkbox" id="checkboxvalue" name="checkboxvalue" checked="checked" value="{{ y[0] }}">{{ y[0] }}
            <input type="hidden" name="item_id" value="{{ count.item_id }}"/></p>
            {% set count = count + 1 %}
        {% endfor %}
        <button class="form_submit" type="submit">Submit</button>
    </form>  
</section>
{% endblock %}

