{% extends 'base.html' %}

{% block header %}
    <p>Habits</p>
    <a href="index2.html" class="link">Habit Marker</a>
    <a href="add.html" class="link">Add Habit</a> 

{% endblock %}

{% block main_content %}
    <section class="habit_section">
        <h3 class="recent">Habits completed list</h3>
        {% for key,value in habitdone %}
            <p class="habit" id="habit" name="habit">On {{ value }} habits completed are 
            {% for x in key %} <ul>{{x}}</ul> </p>
        {% endfor %}
        {% endfor %}
    </section>
{% endblock %}