html{       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{   box-sizing: border-box;     background-color: aliceblue;            margin: 0;
}
*,*::after,*::before{
    box-sizing: inherit;
}
.head{   max-width: 740px;    margin: 1px auto;   padding: 1px 1px;     text-align:justify;   }
.image:hover{     transform: scale(1.5);      }

.para{      font-size: medium;     margin: 1px auto;    text-align: justify;      background-color: azure;
    max-width: 740px;    padding: 0px 50px;  }

.footer{
    background-color:     rgb(64, 180, 180);    color: white    ;          max-width: 740px;    text-align: center; 
    font-size: smaller;     padding: 5px 10px;    font-weight: bold;       margin: 5px auto;
}
.footer_div{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between 
}
.left{
    display: flex;    flex-direction: column;       
}
.right {
display: flex;          flex-direction: row;     
   }
.footer_column{
    display: flex;
    flex-direction: column;
    margin: auto 20px;
}
.footer_item{
    color: inherit;     text-decoration: none;      margin: 5px;
    }
    .footer_item:hover{
     color: aquamarine;  
     text-decoration:underline; 
    }



